.col_properties{
    font-size: 8.5px
}

.badgeStyle{
    width: 100%;
}

.imgCard:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

#btn {
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */
    width:100%;
}
#btn:hover {
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}
#btn {/*Ancho y altura son modificables al requerimiento de cada uno*/
    width: 70px;;
    height:70px;
    overflow:hidden;
}

.navbar{
    background-color: blue;
    width: 100%;
    height: 15%;
}